* {
	margin: 0;
	padding: 0;
}

#titulo {
	font-family: Gobold;
	color: #483D8B;
	margin-left: 7%;
}

#subtitulo {
	font-family: Gobold;
	color: #483D8B;
	margin-left: 10%;
}

#check {
	display: inline-block;
}

fieldset {
	border: 0;
}

body {
	background-color: #A9A9A9;
	font-family: Gobold;
	font-size: 1em;
	color: #6959CD;
	margin-left: 36%;
	margin-top: 2%;
	justify-content: center;
}

input,
select,
textarea,
button {
	border-radius: 6px;
}

.campo {
	margin-bottom: 1em;
}

.campo label {
	margin-bottom: 0.2em;
	color: #836FFF;
	display: block;
}

fieldset.grupo .campo {
	float: left;
	margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
	padding: 0.2em;
	border: 1px solid #836FFF;
	box-shadow: 2px 2px 2px color=#1C1C1C;
	display: block;
}

.campo select option {
	padding-right: 1em;
}

.campo input:focus,
.campo textarea:focus {
	background: #D3D3D3;
}

.botao {
	font-size: 1.2em;
	background: #836FFF;
	border: 0;
	margin-bottom: 1em;
	color: #D3D3D3;
	padding: 0.2em 0.6em;
	box-shadow: 2px 2px 2px color=#1c1c1c;
	text-shadow: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 90%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.botao:hover {
	background: #9370DB;
	box-shadow: inset 2px 2px 2px color=#1c1c1c;
	text-shadow: none;
}